.header__lang-link {
  max-width: 22px;
  padding-left: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    max-width: 30px;
    font-size: 24px;
    line-height: 1.17;
  }
}
