.lead {
  width: 100vw;
  padding-top: 32px;
  color: #fff;
  margin: auto;
}

@media screen and (min-width: 768px) {
	.lead {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
    padding-top: 28px;
  }
}
