.lead__subtitle {
  margin: auto;
  padding-top: 16px;
  padding-bottom: 40px;
  max-width: 288px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    padding-top: 32px;
    padding-bottom: 56px;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
