.cover {
	background: url("../../image/cover/cover-trains.jpg") no-repeat center / cover;
	margin: auto;
	position: relative;
	max-width: 100%;
	min-height: 200px;
	z-index: 1;
}

@media screen and (min-width: 768px) { /*очень глупо опечатался*/
	.cover {
		min-height: 480px;
	}
}

@media screen and (min-width: 1024px) {
	.cover {
		min-height: 640px;
	}
}

@media screen and (min-width: 1280px) {
	.cover {
		max-width: 1184px;
		min-height: 740px;
	}
}
