.сover__background-subtitle {
  margin: auto;
  max-width: 280px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

@media screen and (min-width: 768px) {
  .сover__background-subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
  }
}
