.cover__overlay {
  height:100%;
  width:100%;
  text-decoration: none;
}

.cover__overlay::before {
	content: "";
	position: absolute; /* Позиционируем относительно родителя */
	top: 0;
	left: 0;
	/* Растягиваем на всю ширину и высоту */
	width: 100%;
	height: 100%;
	background-color:#2A2C2F; /* Задаём полупрозрачный фон */
	z-index: -1; /* Убираем под текст */
  opacity: 0.3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.cover__overlay:hover::before {
  opacity: 0.8;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
