.cover__title {
  margin: auto;
  padding: 33px 0 16px;
  max-width: 240px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .cover__title {
    padding: 115px 0 32px;
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    padding-top: 245px;
  }
}
